extends _layouts/home
block styles
    link(rel="stylesheet" href="css/style.min.css")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700&display=swap" rel="stylesheet")

block content
    include _partials/our-journal
    include _partials/how-we-work
    include _partials/travel-with-us


