/*media


.container
  max-width: 1140px
  margin: 0 auto
  width: 100%
  padding: 0

@media (max-width: 1260px)
  .our-journal
    &__wrap
      max-width: calc(380px * 2)
      margin: 0 auto
    &__grid-box
      &-first
        justify-content: flex-end
      &-second
      &-third
        grid-column-start: 1
        grid-column-end: 3
        grid-row-start: 3
        grid-row-end: 4
        flex-direction: row-reverse
        justify-content: flex-end
    &__card-type
      padding: 20px
      &:before
        display: none
    &__item
      min-height: 330px
      overflow: hidden

  .work__
    &gray-line
      display: none
    &number
      top: calc(50% - 20px)
      transform: translate(-50%, 50%)
      bottom: 0
      left: calc(50% + 60px)
      right: 20px

      &:before
        display: none
    &item
      width: 50%
      padding-top: 0
      margin-bottom: 20px





  .client__review-
    &text
      color: #212121
    &item
      padding-left: 15px
      margin-bottom: 20px
      margin: 0 auto
      padding-right: 15px
    &name
      color: black
    &wrap
      margin-bottom: 30px
      .container
        flex-wrap: wrap








@media (max-width: 900px)
  .client__review-footer
    .container
      flex-direction: column

  .client__review-footer
    position: relative
    color: #212121
    padding: 0 15px
    margin-top: 40px
  .client__review-contacts-content
    input
      border: 1px solid $blue
  .client__bg
    display: none
  .client__review-contacts-bg
    display: none
  h2
    margin-bottom: 40px
    margin-top: 80px
    font-size: 25px

  .our-journal
    &__wrap
      max-width: 380px
      margin: 0 auto
      flex-direction: column
      display: flex
    &__grid-box
      &-first
        flex-direction: column-reverse
      &-second
        flex-direction: column-reverse
      &-third
        flex-direction: column-reverse

  .client__review-
    &text
      font-size: 14px
    &name
      flex-direction: column
      justify-content: center
    &footer
      .container
      justify-content: center


  .client__footer-text
    display: block
    margin-bottom: 20px
    width: 100%
    text-align: center
    font-size: 20px
  .client__footer-social
    display: flex
    width: 100%
    justify-content: center
    margin-bottom: 20px
  .client__footer-number
    margin-bottom: 40px
    p
      font-size: 20px
  .client__review-footer
    height: auto

  .client__review-user
    justify-content:  center

  .client__review-contacts-content input
    height: 40px
  .client__review-contacts h3
    font-size: 25px
  .client__review-contacts-content button
    height: 50px
//
//
//@media (max-width: 768px)
//
//

@media (max-width: 576px)
  .gallery__col
    width: auto !important
    margin-right: 0
    img
      width: 100%
  .work__item
   width: 100%
  .our-journal__card-type
   padding: 20px 30px
