.gallery__
  &wrap
    display: flex
    justify-content: center
    margin-bottom: 80px
    flex-wrap: wrap
  &col
    display: flex
    flex-direction: column
    //margin-right: 20px
    img
      padding: 10px
    &:first-child
      width: 263px
    &:nth-child(2)
      width: 361px
    &:last-child
      width: 457px
      //margin-right: 0
    img:first-child
      //margin-bottom: 20px

.brands
    background-color: #f8f9fa
    height: 180px
    display: flex
    align-items: center
    &__wrap
      display: flex
      align-items: center
      flex-wrap: wrap
      justify-content: space-between


      img
        background: #bcbcbc
        height: max-content
        margin: 10px