section#gallery
    .container
        h2 Gallery
        .gallery__wrap
            .gallery__col
                img(src='img/gallery/gal-1.jpg')
                img(src='img/gallery/gal-2.jpg')
            .gallery__col
                img(src='img/gallery/gal-3.jpg')
                img(src='img/gallery/gal-4.jpg')
            .gallery__col
                img(src='img/gallery/gal-5.jpg')
                img(src='img/gallery/gal-6.jpg')
    .brands
        .container
            .brands__wrap
                img(src='img/gallery/brand-1.png')
                img(src='img/gallery/brand-2.png')
                img(src='img/gallery/brand-3.png')
                img(src='img/gallery/brand-4.png')
                img(src='img/gallery/brand-5.png')
                img(src='img/gallery/brand-6.png')




