section#work
    .container
        h2 How we work
        .work__gray-line
        .work__wrap
            .work__item
                .work__number
                    p 1
                .work__img-block
                    img(src="img/how-we-work/work-ic-1.png")

                .work__item-text
                    strong Lorem ipsum dolor sit
                    p amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
            .work__item
                .work__number
                    p 2
                .work__img-block
                    img(src="img/how-we-work/work-ic-2.png")

                .work__item-text
                    strong Lorem ipsum dolor sit
                    p amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
            .work__item
                .work__number
                    p 3
                .work__img-block
                    img(src="img/how-we-work/work-ic-3.png")

                .work__item-text
                    strong Lorem ipsum dolor sit
                    p amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
            .work__item
                .work__number
                    p 4
                .work__img-block
                    img(src="img/how-we-work/work-ic-4.png")

                .work__item-text
                    strong Lorem ipsum dolor sit
                    p amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt




