section#our-journal
    .container
        h2 our journal
        .our-journal__wrap
            .our-journal__grid-box-first
                .our-journal__item.our-journal__card-type
                    span love
                    strong Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                    p You know how to make best coffee in the universe? Or, maybe you’re very good in designing gloves? Tell everyone about your experience and skills.
                    p.our-journal__card-number 01
                .our-journal__item
                    img(src="img/our-journal/oj-1.jpg" class="our-journal__item-bg")
                    img(src="img/our-journal/oj-ic-1.png" class="our-journal__item-ic" style="width: 81px ; height: 81px")



            .our-journal__grid-box-second
                .our-journal__item.our-journal__card-type
                    span tree
                    strong LorLorem ipsum dolor sit amet, consectetur adipisicing elit,
                    p The way to a successful brand is hard, but always very interesting. Share the full story of your project – from the very first day until now.
                    p.our-journal__card-number 02









                .our-journal__item
                    img(src="img/our-journal/oj-2.jpg" class="our-journal__item-bg" )
                    img(src="img/our-journal/oj-ic-2.png" class="our-journal__item-ic" style="width: 65px ; height: 65px")



            .our-journal__grid-box-third
                .our-journal__item.our-journal__card-type
                    span water
                    strong LITTLE PIECES OF OUR PROUDNESS
                    p What do you do better than your competitors? What are you proud of? What details and advantages of your product you want people to know about?
                    p.our-journal__card-number 03
                .our-journal__item
                    img(src="img/our-journal/oj-3.jpg" class="our-journal__item-bg")
                    img(src="img/our-journal/oj-ic-3.png" class="our-journal__item-ic"  style="width: 59px ; height: 74px")



