section#review
    .client__bg
    .container
        h2 our Clients say
        .client__review-wrap
            .client__review-item
                .client__review-text
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do  enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                .client__review-user
                    .client__review-photo
                        img(src="img/our-clients-say/user-1.png")
                    .client__review-name
                        strong Pavliv Yaroslav
                        p  Web designer
            .client__review-item
                .client__review-text
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do  enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                .client__review-user
                    .client__review-photo
                        img(src="img/our-clients-say/user-2.png")
                    .client__review-name
                        strong John Scott
                        p The Fringe
        .client__review-contacts
            .client__review-contacts-content
                h3 Contacts
                span Sign up for our newsletter to receive updates
                form
                    input(type='text' placeholder='Name')
                    input(type='text' placeholder='Phone')
                    input(type='text' placeholder='Email')
                    button Send
            .client__review-contacts-bg
                img(src="img/our-clients-say/form-bg.png")
    .client__review-footer
        .container
            .client__footer-text
                p All rights reserved 2015
            .client__footer-social
                a(href="https://twitter.com/")
                    img(src="img/our-clients-say/Twitter.png")
                a(href="https://www.facebook.com/")
                    img(src="img/our-clients-say/Facebook.png")
                a(href="https://vk.com/")
                    img(src="img/our-clients-say/vk.png")
            .client__footer-number
                p 1 234 243 123




