section#travel
    .travel__map
    .travel__bg
        img(src='img/travel-with-us/travel-bg.png')
    .container
        h2 Travel with us
        .travel__wrap
            .travel__item
                .travel__item-bg
                    img(src='img/travel-with-us/item-1-bg.png')
                .travel__item-stars
                    img(src='img/travel-with-us/stars-4.png')
                .travel__item-text
                    span Carpathian
                    p Lorem ipsum dolor si amet, consectetur
                .travel__item-price
                    p 3150$
                    span $793
            .travel__item
                .travel__item-bg
                    img(src='img/travel-with-us/item-2-bg.png')
                .travel__item-stars
                    img(src='img/travel-with-us/stars-5.png')
                .travel__item-text
                    span Alps
                    p Lorem ipsum dolor si amet, consectetur
                .travel__item-price
                    p 3150$
                    span $1893
            .travel__item
                .travel__item-bg
                    img(src='img/travel-with-us/item-3-bg.png')
                .travel__item-stars
                    img(src='img/travel-with-us/stars-5.png')
                .travel__item-text
                    span Pyrenees
                    p Lorem ipsum dolor si amet, consectetur
                .travel__item-price
                    p 3150$
                    span $2593
            .travel__item
                .travel__item-bg
                    img(src='img/travel-with-us/item-4-bg.png')
                .travel__item-stars
                    img(src='img/travel-with-us/stars-5.png')
                .travel__item-text
                    span Rocky
                    p Lorem ipsum dolor si amet, consectetur
                .travel__item-price
                    p 3150$
                    span $2123
            .travel__item
                .travel__item-bg
                    img(src='img/travel-with-us/item-1-bg.png')
                .travel__item-stars
                    img(src='img/travel-with-us/stars-3.png')
                .travel__item-text
                    span Kavkaz
                    p Lorem ipsum dolor si amet, consectetur
                .travel__item-price
                    p 3150$
                    span $593